body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace; 
}
 
h1 {
    color: #fffb00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color:  #02fa38;

}
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration-line: underline;
}

a {
    text-decoration: none;
}